<!DOCTYPE html>
<html>
  <head>
    <title><%=title%> </title>
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="./stylesheets/bootstrap-grid.min.css" />
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <div>
			<div id="forms">
				Enter no of Rows => <input class="form-control" type="text" id="noOfRows" maxlength="2"><br />
				Enter no of Columns => <input type="text" id="noOfCols" maxlength="2"><br />
				<button class="btn btn-primary" id="firstSBMT">Ok</button>
			</div>
			<div id="content"></div>
		</div>
    <script src="./javascripts/jquery.min.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
    <script src="./javascripts/bootstrap.bundle.min.js"></script>
    <script src="./javascripts/main.js"></script>
  </body>
</html>
