body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("./../images/repBg.jpg");
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.form-control {
  text-align: -webkit-center !important;
}

.float-text-left {
  float: left;
}

.hiden {
  display: none;
}

.visible {
  display: initial;
}

a {
  color: #00b7ff;
}

.tableField {
  width: 3.5em;
  height: 3.5em;
  border-color: black;
  padding-left: 1.2em;
}
.default {
  border-color: black;
}

#table {
  border: 2px solid;
  width: fit-content;
}
